# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

##### .lstrip()

In [2]:
#.lstrip() remove white space from the left/font of a string
name = " Ryan"
print(name)
name = name.lstrip()
print(name)

 Ryan
Ryan

##### Using 'in' keyword

In [3]:
# use in fot any tyoe iterable, list, dictionary, string, tuple, set, and others
name = "Raul Lara"
for letter in name:
    print(letter)

R
a
u
l

L
a
r
a

##### Continue Statement

In [5]:
my_list = [1,2,3,4,5,6,7,8,9,10]
for num in my_list:
    if num % 2 == 0:
        print(num, "even")
    elif num == 5:
        continue
    else:
        print(num, "odd")

1 odd
2 even
3 odd
4 even
6 even
7 odd
8 even
9 odd
10 even

##### Break Statement

In [7]:
# will break out of current loop
my_list = [1,2,3,4,5,6,7,8,9,10]

counter = 0
while counter < len(my_list):
    if my_list[counter] % 2 == 0:
        print(my_list[counter], "even")
    elif my_list[counter] == 7:
        break
    else:
        print(my_list[counter], "odd")
    counter += 1

1 odd
2 even
3 odd
4 even
5 odd
6 even

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration
for name in my_list:
    pass #come back later to finish -- it will not brake your code is not completed

##### Double For Loops

In [9]:
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list2 = [2,6,10,14,18]
for num in my_list:
    for num2 in my_list2:
        if num*2 == num2:
            print(num, num2)

1 2
3 6
5 10
7 14
9 18

### While Loops

In [13]:
#while keyword, condition for the while loop to run
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
#     print(len(names))
index = 0
while index < len(names):
    print(names[index])
    index += 1

Ryan
Alex
Dyonne
Steve
Raul
Katie

##### looping 'While True'

In [15]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

flag = True
index = 0
while flag:
    print(names[index])
    if names[index] == "Dyonne":
        flag = False
    index += 1

Ryan
Alex
Dyonne

##### While & For Loops Used Together

In [17]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

index = 0
while index < len(names):
    print(names[index])
    for letter in name[index]:
        print(letter)
    index += 1

Ryan
R
Alex
a
Dyonne
u
Steve
l
Raul

Katie
L

##### The Range Function

In [18]:
# range start, stop, step
#if only 1 parameter is provided, it will default to stop

for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### String Manipulation Exercise

In [49]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for i in range(len(names)):
 print(names[i].title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [ ]:
our_empty #empty list
our_list = [1,2,3,4

##### Indexing a List

In [ ]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
#indexing into list
print(names[3])

#print starting at an index and going to end of the list
print(names[2:])

#print list reverse
print(names[::-1])

#print from index 1 and go by 2's
print(names[1::2])

### List Methods

##### .append()

In [50]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]

names.append("Teddie")
print(names)

['Ryan', 'Alex', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .insert()

In [52]:
#insert value into the list a t a given index
names.insert(2, "cassie")
print(names)

['Ryan', 'Alex', 'cassie', 'Dyonne', 'Steve', 'Raul', 'Katie', 'Teddie']

##### .pop()

In [53]:
# default is the ast value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable 
names_remove = names.pop(1)
print(names_remove)

Alex

##### .remove()

In [54]:
# value to be removed, not an index
for name in names:
    if name == "cassie":
        names.remove(name)
print(name)

Teddie

### Working With Lists

##### del()

In [ ]:
# index to be removed, not value 
# BE CAREFUL with del, can cause an indexing error if not used carefully

##### min()

In [55]:
num_list = [3, 6 ,5 ,10, 22, 7]
smallest_num = min(num_list)
print(smallest_num)
print(min(num_list))

3
3

##### max()

In [57]:
num_list = [3, 6 ,5 ,10, 22, 7]
biggest_num = max(num_list)
print(biggest_num)
print(max(num_list))

22
3

##### sum()

In [60]:
num_list = [3, 6 ,5 ,10, 22, 7]
sum_num = min(num_list)
print(sum_num)
print(sum(num_list))

3
53

##### sorted()

In [61]:
num_list = [3, 6 ,5 ,10, 22, 7]
sorted_list = sorted(num_list)
print(sorted_list)
print(sorted(num_list))

[3, 5, 6, 7, 10, 22]
[3, 5, 6, 7, 10, 22]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [62]:
num_list = [3, 6 ,5 ,10, 22, 7]
print(num_list)
num_list.sort()
print(num_list)

[3, 6, 5, 10, 22, 7]
[3, 5, 6, 7, 10, 22]

##### Copying a List

In [63]:
# [:] copies a list, doesn't alter original'
num_list = [3, 6 ,5 ,10, 22, 7]
print(num_list)
new_list = num_list[:]
print(new_list)

[3, 6, 5, 10, 22, 7]
[3, 6, 5, 10, 22, 7]

##### Looping Through Lists

In [66]:
names = ["Ryan", "Alex", "Dyonne", "Steve", "Raul", "Katie"]
# two wasys to lopp through lists

for names in names:
    print(names)

for i in (range(len(names))):
    print(names[i])

Ryan
Alex
Dyonne
Steve
Raul
Katie
K
a
t
i
e

##### 'in' keyword

In [67]:
# check if the input numbers double is in the list provided
doubles = [1, 2, 5, 8, 6, 20 ,18 , 14]
num = 4

if num * 2 in doubles:
    print("doube exists")
else:
    print("its not here")

doube exists

In [71]:
doubles = [1, 2, 5, 8, 6, 20 ,18 , 14]
num = 4
for number in doubles:
    if number == num * 2:
        print(number, "yey a double")
else:
    print("boo not a double")

8 yey a double
boo not a double

##### 'not in' keyword

In [73]:
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]
name = "phyllis"
if name not in rangers:
    print(name, "is not a ranger")

phyllis is not a ranger

##### Checking an Empty List

In [75]:
our_list = []
if our_list == []:
    print("our list is empty")

our list is empty

##### Removing Instances with a Loop

In [83]:
#while , remove
rangers = ["Chris", "Tyler", "Tarun", "Alex", "Kathy"]

while "tyler" in rangers:
    rangers.remove("tyler")
print(rangers)

for name in rangers:
    if name == "kathy":
        rangers.remove(name)
print(rangers)

['Chris', 'Tyler', 'Tarun', 'Alex', 'Kathy']
['Chris', 'Tyler', 'Tarun', 'Alex', 'Kathy']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [120]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []

for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [123]:
# number comprehension
# with a regular for loop

nums = []

for i in range(100):
    nums.append(i)
print(nums)

print("\n")

#list comprenhesion syntax

num_comp = [i for i in range(100)]

print(num_comp)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]


[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [128]:
#squared numbers comprenhension
# [variable, trasform, condition]
squares = [2,4,6,8,10]
print(squares)

squares2 = [x**2 for x in my_list]
print(squares2)

squares2 = [x**2 for x in range(10)]
print(squares2)

new_list = []
for x in my_list:
    new_list.append(x**2)
print(new_list)

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [132]:
# name = ["legolas", "frodo", "aragorn", "gimli", "gandalf", "pippin"]

# first_letter = [name[0] for name in names]
# print(first_letter)

# first_letter_list = []
# for name in names:
#     first_letter_list.append(name[0])
# print(first_letter_list)

TypeError: 'int' object is not subscriptable

In [135]:
# name = ["legolas", "frodo", "aragorn", "gimli", "gandalf", "pippin"]
# g_names = []

# for name in names:
#     if name[0] == "g":
#         g_names.append(name)
# print(g_names)

TypeError: 'int' object is not subscriptable

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [139]:
tup_1 = 1, 2, 3 # first way of creating a tuple
tup_2 = (1 ,2, 3)

print(type(tup_1))
print(type(tup_2))

print(len(tup_1))

print("\n")
#Looping over a tuple
print("Looping over a Tuple")
for number in tup_1:
    print(number)

print("\n")
print("looping over a tuple with index")
#looping over a tuple with an index
for x in range(len(tup_1)):
    print(tup_1[x])

<class 'tuple'>
<class 'tuple'>
3


Looping over a Tuple
1
2
3


looping over a tuple with index
1
2
3

##### sorted()

In [144]:
tup_3 = (20, 6, 19, 11, 5, 3, 1, 43)

sorted_tup = sorted(tup_3)
print(sorted_tup)

random_list = [3, 4, 66, 77, 23]

combine_list = sorted_tup + random_list

print(combine_list)
print(type(sorted_tup))

[1, 3, 5, 6, 11, 19, 20, 43]
[1, 3, 5, 6, 11, 19, 20, 43, 3, 4, 66, 77, 23]
<class 'list'>

##### Adding values to a Tuple

In [146]:
tup_2 = (1 ,2, 3)
tup_2 = tup_2 + (5,)
print(tup_2)

(1, 2, 3, 5)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [185]:
alist = [1,11,14,5,8,9]
blist = []

for i in alist:
    if i < 10:
       blist.append(i) 
print(blist)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [197]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]


new_list = l_1 + l_2
new_list.sort()
print(new_list)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]